<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzSbe1jgXm1Nl8UMHNjFTLvx_qNiTrkY4</string>
	<key>GCM_SENDER_ID</key>
	<string>139306304978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.eventhub</string>
	<key>PROJECT_ID</key>
	<string>event-hub-4d199</string>
	<key>STORAGE_BUCKET</key>
	<string>event-hub-4d199.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139306304978:ios:7233f8e5d43975cf94740b</string>
</dict>
</plist>